@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="MSÜ yazılım kursu" />
    <meta name="keywords" content="MSÜ, yazılım, kurs, mühendislik" />
    <title>MSÜ Project</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <h1>Welcome To Project</h1>
    <p id="p_head">Bu kısma login elemanları gelecektir</p>

    <strong>
        <span>Burası birinci satır</span>
    </strong>
    <br />
    <em><span>Burası ikinci satır</span></em>
    <br />
    <a href="/home">Home</a>
    <br />

    <img src="~/img/koala.webp" title="Koala hayvanı" style="width:200px;height:200px" />
    <br />
    <input type="text" id="inp_username" placeholder="Username" />
    <br />

    <select id="sel_usertype">
        <option value="0">Personel</option>
        <option value="1">Ziyaretçi</option>
        <option value="2">Yönetici</option>
    </select>


</body>
<script src="~/js/login.js"></script>
</html>


